// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
// $text-light: #ffffff;
// $text-dark-100: #d7d7d7;
// $text-dark-200: #b9b9b9;
// $text-dark-300: #b5b5b5;
// $text-dark-400: #838383;
// $text-dark-500: #4f4f4f;

$light-bg: #282829;
$main-bg: #1f1f1f;
$gray: #ffffff99;
$darker-gray: #505050;
$white: #ffffff;

$modal-background: rgba(18, 18, 18, 0.9);

$purple: #a271ff;

// Dimensions
$modal-width: 400px;
$vidmodal-width: 800px;

$modal-width-xl: 400px;
$vidmodal-width-xl: 400px;
