@import "../../styles/variables";

.mainSection {
  height: calc(100% - 98px);
  //   border: 2px solid yellow;
  flex: 4.2;
  margin: 0 6px;
  margin-top: 38px;
  display: flex;
  flex-direction: column;

  .top {
    width: 100%;
    height: 63vh;
    // border: 1px solid white;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 20fr 1fr;

    .topLeft {
      height: 60vh;
      // border: 1px solid red;
      // height: 100%;
      // width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      //   flex: 11.5;
      background: $light-bg;
      //   border: 1px solid red;

      .progress {
        position: absolute;
        top: -30px;
        left: 0;
        // border: 1px solid red;
        width: 100%;
        height: 30px;
        // padding: 10px 0;
        // margin-bottom: 10px;

        background-color: $main-bg;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .progressBar {
          // width: calc(6.25% - 3px);
          height: 100%;
          // border: 1px solid red;
          // background-color: #fff;
          cursor: pointer;
          transition: all ease 0.3s;
          display: flex;
          align-items: center;
          justify-content: center;

          .bar {
            height: 2px;
            width: 100%;
            background-color: #fff;
            transition: all ease 0.3s;

            &.active {
              background-color: $purple;
            }
          }

          &:hover .bar {
            height: 5px;
          }
        }
      }

      .videoContainer {
        // height: 100%;
        // width: 100%;
        // aspect-ratio: 1/1.77;
        margin: 0 auto;
        position: relative;
        // border: 1px solid rgb(68, 0, 255);
        // width: 300px;

        .tag {
          width: 20px;
          aspect-ratio: 1;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
          transform: translate(-50%, -50%);
        }

        video {
          width: 100%;
          aspect-ratio: 1/1.77;

          // border: 2px solid red;

          //   width: 100%;
        }
      }
    }
    .topRight {
      //   flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-left: 8px;
    }
  }

  .bottom {
    width: 100%;
    flex: 1;
    // border: 1px solid red;
    display: grid;
    grid-template-columns: 20fr 1fr;

    .bottomLeft {
      // border: 1px solid red;
      padding-top: 25px;
      height: 100%;

      .header {
        // border: 1px solid red;
        display: flex;
        justify-content: flex-start;
        font-size: 11px;
        // padding: 0 15px;

        .headerTab {
          padding-bottom: 8px;
          margin-right: 10px;
          font-weight: bold;
          cursor: pointer;
          transition: all ease 0.2s;
          color: $gray;

          &.active {
            color: $purple;
            border-bottom: 1px solid $purple;
          }
        }
      }

      .body {
        margin-top: 20px;
        padding-bottom: 60px;
        overflow-y: scroll;
        width: 100%;
        height: calc(24vh - 60px);

        .selectedProductSection {
          // border: 1px solid red;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .left {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          }

          .productImage {
            width: 60px;
            aspect-ratio: 1;
            background-color: orange;
            margin-right: 10px;
          }

          .productName {
            font-size: 14px;
            font-weight: bold;
          }
        }

        .previewJson {
          width: 100%;

          // border: 1px solid red;

          background-color: $light-bg;

          code {
            // border: 1px solid red;
            width: 500px;
            // margin: auto;
            text-align: center;
            font-size: 13px;
          }
        }
      }
    }
  }
}
